# Environments
**/.venv
**/venv
**/.env
**/.envrc

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
**/.cache
**/*.egg-info
**/.eggs

# Node
**/node_modules

# Build output
**/staticfiles
**/dist
**/*.sqlite3

# IDE
**/.vscode
**/.idea

# Git
.git/
